
$secondary-color: #ef1d51;
$table-background-color:linear-gradient(180deg, #395644, #25323c 76.04%, #0d171e);
$black-color:#000000;
$white-color:#fff;
$background-image-Icon:url("./assets/main_bg.png");

$images_path:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/";
$font-family:"Helvetica";
$ttf_file_url:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/assets/fonts/helvetica-light.ttf";