$primary-color:#0d4488; 
$secondary-color:#0571F8;
$box-primary-color:#aaf3ed;
$box-secondary-color:#0571F8;
$background-color:#dbc234;
$white-color:#ffffff;
$navbar-secondary-color:#aaf3ed;
$navbar-primary-color:#0571F8;
$box-hover-secondary-color:#aaf3ed;
$box-hover-primary-color:#1578f1;
$h2-color:#000000;
//$learn-more-box:
$title:55px;
$images_path:"https://skinning-template.s3.us-west-1.amazonaws.com/project-1/";
$font-family:"Helvetica";
$ttf_file_url:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/assets/fonts/helvetica-light.ttf";


//$primary-color:#0C3262; 
//$secondary-color:#0571F8;
//$box-primary-color:#F8AE54;  
//$box-secondary-color:#F8A136;
//$background-color:#FFFEF8;
////navbar color and text color-#4A5D6B
//$white-color:#fffff;