$primary-color:#da6607;
$secondary-color:#00ca1b;
$box-primary-color:#972f2fe0;
$box-secondary-color:#972cee;
$background-color:#1f0586;
$white-color:#ebebeb;
$title:55px;
$images_path:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/";
$font-family:"Helvetica";
$ttf_file_url:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/assets/fonts/helvetica-light.ttf";