$primary-color:#24da1e;
$secondary-color:#f95083;
$box-primary-color:#4b3f2f;
$box-secondary-color:#0e8f7e;
$background-color:#e49733;
$white-color:rgb(51, 92, 17);

$title:55px;

$images_path:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/";
$font-family:"Helvetica";
$ttf_file_url:"https://skinning-template.s3.us-west-1.amazonaws.com/default-template/assets/fonts/helvetica-light.ttf";