.hunter-market{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
    color: #fff;
    }

    .main-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 112.4%;
    }
    .btn-banner {
        background: linear-gradient(180deg, #EF981D 56.77%, #F9BF50 100%);
        border-radius: 50px;
        border: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #fff;
        padding: 10px 50px;
        transition: .5s ease-in-out;
    }
    .btn-banner:hover {background: #fff;}
    /* @media screen and (min-width:1600px){
        .container.banner-container {max-width: 1500px;}
    } */